$cyan: #5ED7C6;
$font: #000000;
$azul: #0000EC;
$blanco: #ffffff;
$grisUno: #F3F5F8;
$grisSocial: #CDD6E0;
$azugris: #9CAFC3;
$active: #060A24 56%;
$principal: #572EE5;
$darkbg: #37383C;
$darkerbg: #222326;





  

  
